html,body{
    margin: 0;
    padding: 0;
    font-family:Helvetica;
}

a{
    text-decoration:none;
}


@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

@mixin register_flex{
    display: -webkit-flex; /* Safari */
    display: flex;
}
@mixin register_center{
    justify-content:center;
}
@mixin register_lb{
    justify-content:space-between;
}
@mixin register_db{
    align-items: flex-end;
}
@mixin margin_auto{
    margin-left: auto;
    margin-right: auto;
}
@mixin box_padding{
    padding-top: 0.5rem;
}


//------------------------------------------------------enter        style

.bigbox{
    padding-top: 3rem;
    p{
       font-size: 0.9rem;
       @include register_flex;
       @include register_center;
       color: white;
    }
   .logo_box{
       @include register_flex;
       @include register_center;
    }
    .register_logo{
        height: 6rem;
        width: 7rem;
    }
    .register_input{
        border-bottom: 2px solid #CCCCCC;
        margin-top: 0.5rem;
        width: 13rem;
        @include margin_auto;
        i{
            font-size: 1.1rem;
            color: white;
        }
        input{
            border: 0;
            background-color:transparent; 
            border-color:transparent;
            -webkit-appearance: none;
            outline: none;
            color: white;
            height: 2.5rem;
            width: 10rem;
            font-size: 0.7rem;
            margin-left: 1rem;
        }
    }
    .btn{
       @include register_flex;
       @include register_center;
       margin-top: 1.5rem;
        button{
            color: white;
            font-size: 1rem;
            width: 13rem;
            height: 2.2rem;
            background-color: #01A3E3;
            border-radius: 5px;
            border: 0;
            outline: none;
        }
    }
    .span_box{
        @include margin_auto;
        width: 13rem;
        margin-top: 0.5rem;
        margin-bottom: 1.7rem;
        @include register_lb;
        @include register_flex;
        span{
        color: white;
        font-size: 0.7rem;
        }
    }
    
}



//------------------------------------------------------register        style

.zc_bigbox{
    @include box_padding; 
    p{
       font-size: 0.9rem;
       @include register_flex;
       @include register_center;
       color: #FFFFFF;
       margin-top: 0;
    }
   .zc_logo_box{
       @include register_flex;
       @include register_center;
    }
    .zc_logo{
        height: 7rem;
        width: 7rem;
    }
    .zc_input{
        border-bottom: 2px solid #CCCCCC;
        margin-top: 1rem;
        width: 13rem;
        @include margin_auto;
        i{
            font-size: 1.1rem;
            color: white;
        }
        input{
            border: 0;
            background-color:transparent; 
            border-color:transparent;
            -webkit-appearance: none;
            outline: none;
            color: white;
            height: 2.5rem;
            width: 64%;
            font-size: 0.7rem;
            margin-left: 1rem;
        }
        button{
            height: 1.5rem;
            width: 30%;
            font-size: 0.6rem;
            background-color: #464B69;
            border-radius: 4px;
            color: #FFFFFF;
            border: 0;
            padding: 0;
        }
    }
    .zc_btn_box{
       @include register_flex;
       @include register_center;
       margin-top: 1.5rem;
       margin-bottom: 0.5rem;
        button{
            color: white;
            font-size: 1rem;
            width: 13rem;
            height: 2.2rem;
            background-color: #01A3E3;
            border-radius: 5px;
            border: 0;
            outline: none;
        }
    }
    .zc_tl{
        @include register_flex;
        @include register_center;
        color: white
    }
}

//------------------------------------------------------find        style

.find_bigbox{
    @include box_padding;
    p{
       font-size: 0.9rem;
       @include register_flex;
       @include register_center;
       color: #FFFFFF;
       margin-top: 0;
    }
   .find_logo_box{
       @include register_flex;
       @include register_center;
    }
    .find_logo{
        height: 7rem;
        width: 7rem;
    }
    .find_input{
        border-bottom: 2px solid #CCCCCC;
        margin-top: 0.5rem;
        width: 13rem;
        @include margin_auto;
        i{
            font-size: 1.1rem;
            color: white;
        }
        input{
            border: 0;
            background-color:transparent; 
            border-color:transparent;
            -webkit-appearance: none;
            outline: none;
            color: white;
            height: 2.5rem;
            width: 7.5rem;
            font-size: 0.7rem;
            margin-left: 1rem;
        }
        button{
            height: 1.5rem;
            width: 4.5rem;
            font-size: 0.6rem;
            background-color: #464B69;
            border-radius: 4px;
            color: #FFFFFF;
            border: 0;
        }
    }
    .find_btn_box{
       @include register_flex;
       @include register_center;
       margin-top: 2rem;
       margin-bottom: 2rem;
        button{
            color: white;
            font-size: 1rem;
            width: 13rem;
            height: 2.2rem;
            background-color: #01A3E3;
            border-radius: 5px;
            border: 0;
            outline: none;
            font-size: 0.8rem;
        }
    }
}

//------------------------------------------------------caller       style

.caller_bigbox{
            @include box_padding; 
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;
    p{
       font-size: 0.9rem;
       @include register_flex;
       @include register_center;
       color: #FFFFFF;
       margin-top: 0;
       margin-bottom: 2rem;
       i{
           font-size: 1rem;
           color: #CCCCCC;
           position: absolute;
           right: 0.5rem;
       }
    }
    .first_box{
        @include register_flex;
        justify-content: space-between;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 1rem;
        img{
            height: 3.5rem;
        }
        p{
            margin: 0;
            font-size: 0.5rem;
            color: #49A6F0;
        }
    } 
}

//------------------------------------------------------public   p    style

.record_p{
   font-size: 0.9rem;
   @include register_flex;
   @include register_center;
   color: #FFFFFF;
   margin-top: 0;
   margin-bottom: 0.8rem;
   a{
       padding-top: 0.2rem;
   }
   .one{
       font-size: 1rem;
       color: #CCCCCC;
       position: absolute;
       right: 0.5rem;
   }
   .two{
        font-size: 1rem;
       color: #CCCCCC;
       position: absolute;
       left: 0.5rem;
   }
}
 //------------------------------------------------------record       style   
.record_bigbox{
    background: url(../images/bg.png) no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;
    height: 29rem;
    .record_top{
        height: 1rem;
        background-color: #60646D;
        border-top: 1px solid #F1F1F1;
        border-bottom: 1px solid #F1F1F1;
        p{
            @include register_flex;
            justify-content: flex-start;
            padding-left: 1rem;
            color: #F1F1F1;
            font-size: 0.7rem;
            margin-bottom: 0;
        }
    }

    .record_bottom_box{
        background-color: white;
        position: fixed;
        bottom: 0;
        z-index: 99;
        .record_buttom{
            width: 16rem;
            @include register_flex;
            @include register_lb;

            img{
                height: 2rem;
                margin-bottom: 0.3rem;
                margin-top: 0.3rem;
            }
            span{
                border-left: 1px solid #CCCCCC;
                height: 1rem;
                margin-top: 0.8rem;
            }
            a:first-child{
                margin-left: 1rem;
            }
            a:last-child{
                margin-right: 1rem;
            }
        } 
    }
}

//------------------------------------------------------permit       style
.permit_bigbox{
    @include box_padding; 
    p{
        @include register_flex;
        @include register_center;
       font-size: 0.9rem;
       color: #FFFFFF;
       margin-top: 0;
       margin-bottom: 0.8rem;
       a{
           padding-top: 0.2rem;
       }
       .one{
           font-size: 1rem;
           color: #CCCCCC;
           position: absolute;
           right: 0.5rem;
       }
       .two{
            font-size: 1rem;
           color: #CCCCCC;
           position: absolute;
           left: 0.5rem;
       }
    }
    .permit_box_one{
        background-color: #575C60;
        color: #F1F1F1;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        .permit_boxone{
            div{
                margin-left: 1rem;
            }
            p{
                margin: 0;
                @include register_flex;
                justify-content: flex-start;
            }
        }
        img{
            height: 1.5rem;
        }
        p{
            font-size: 0.7rem;
        }
        table{
            @include register_flex;
            @include register_center;
            margin-top: 1rem;
        }
        .permit_center_td{
            padding-left: 1rem;
            padding-right: 1rem;
        }
    
    }
    .permit_box_two{
        @extend .permit_box_one;
        padding-bottom: 0;
        margin-top: 0.3rem;
        span{
            width: 7.5rem;
        }
        .permit_box_double{
            background: url(../images/permit.png) no-repeat 100% 100%;
            background-size: 23%;
            padding-bottom: 0.5rem;
            .font_size{
                font-size: 0.8rem;
            }
            p{
                margin-bottom: 0;
            }
        }
        .permit_center{
            @include register_flex;
            @include register_center;
            p{
                margin-bottom: 0;
            }
        }
    }
    .permit_deta{
        @include register_flex;
        @include register_center;
        margin-top: 0.5rem;
        p{
            font-size: 0.7rem;
        }
    }
    .permit_rwmimg{
        @include register_flex;
        @include register_center;
        margin-top: 3rem;
        img{
            height: 10rem;
            width: 12rem;
        } 
    }
    .permit_bottom_a{
        color: #F1F1F1;
        @include register_flex;
        @include register_center;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
}

//------------------------------------------------------caller_details       style
.caller_details_top{
    color: #F1F1F1;
    @include register_flex;
    align-items: center;   
    padding-left: 0.9rem;
    margin-top: 1rem;
    img{
        height: 1.3rem;
    }
    span{
        margin-left: 1rem;        
    }
}
.caller_details_content{
    padding-left: 1rem;
    padding-right: 1rem;
    td{
        @include register_flex;
        @include register_center;
        align-items: center;
        color: #F1F1F1;
        margin-top: 0.5rem;
        input{
            margin-bottom: 0;
            background-color: rgba(255,255,255,0.3);
            border: 1px solid #F1F1F1;
            height: 1.3rem;
            margin-top: 0.2rem;
        }
        span{
            width: 3rem;
            font-size: 0.7rem;

        }
    }
}
.caller_details_btn{
    width: 100%;
    color: #F1F1F1;
    background-color: #01A3E3;
    font-size: 0.8rem;
    height: 2.5rem;
    margin: 1.5rem 0;
    border: 0;
}
#demo1,#demo2{
    padding: 0;
}


////------------------------------------------------------locale_register       style
//.locale_register_box{
//          @include box_padding; 
//  .locale_register_btn{
//      margin: 0.8rem 0;
//  }
//  select{
//      background-color: rgba(255,255,255,0.3);
//      margin: 0;
//      line-height: 13px;
//      height: 1.6rem;
//  }
//  #selectStyle{
//      border: 1px solid #F1F1F1;
//      border-radius: 3px;
//
//      overflow: hidden;
//      width: 11rem;
//      position: relative;
//      margin-top: 0.2rem;
//      i{
//          position: absolute;
//          top: 3px;
//          right: 5px;
//      }
//      #select option{
//          color:#222;
//      }
//      #select option:hover{
//          color:#fff;
//      }
//      #select option:checked{
//          background:#535353;
//          color:#fff; 
//      }
//  }
//  #demo1{
//      margin-left: 2.4rem;
//  }
//
//}
//@media screen and (device-width: 375px){
//      .locale_register_box{
//          @include box_padding;
//      .locale_register_btn{
//          margin: 0.8rem 0;
//      }
//      select{
//          background-color: rgba(255,255,255,0.3);
//          margin: 0;
//          line-height: 13px;
//          height: 1.6rem;
//      }
//      #selectStyle{
//          border: 1px solid #F1F1F1;
//          border-radius: 3px;
//  
//          overflow: hidden;
//          width: 11rem;
//          position: relative;
//          margin-top: 0.2rem;
//          i{
//              position: absolute;
//              top: 3px;
//              right: 5px;
//          }
//          #select option{
//              color:#222;
//          }
//          #select option:hover{
//              color:#fff;
//          }
//          #select option:checked{
//              background:#535353;
//              color:#fff; 
//          }
//      }
//      #demo1{
//          margin-left: 2.4rem;
//      }
//      #demo2{
//          margin-left: 0.5rem;
//      }
//  }
//}

//@media screen and (min-device-width: 320px){
@media screen and (device-aspect-ratio: 40/71) {
    .locale_register_box{
            @include box_padding;
        .locale_register_btn{
            margin: 0.8rem 0;
        }
        select{
            background-color: rgba(255,255,255,0.3);
            margin: 0;
            line-height: 13px;
            height: 1.6rem;
        }
        #selectStyle{
            border: 1px solid #F1F1F1;
            border-radius: 3px;
    
            overflow: hidden;
            width: 11rem;
            position: relative;
            margin-top: 0.2rem;
            i{
                position: absolute;
                top: 7px;
                right: 5px;
            }
            #select option{
                color:#222;
            }
            #select option:hover{
                color:#fff;
            }
            #select option:checked{
                background:#535353;
                color:#fff; 
            }
        }
        #demo1{
            margin-left: 2.4rem;
        }
        #demo2{
            margin-left: 0;
        }
    }
}










//------------------------------------------------piblic     buttom
    .bottom_box{
        background-color: white;
        .register_buttom{
            width: 13rem;
            @include register_flex;
            @include register_lb;
            @include margin_auto;
            img{
                height: 1.5rem;
                margin-bottom: 0.2rem;
                margin-top: 0.2rem;
            }
            span{
                border-left: 1px solid #CCCCCC;
                height: 1rem;
                margin-top: 0.5rem;
            }
        } 
    }

#public_yzsj,#public_yzmm{
        margin: 0;
        font-size: 0.7rem;
        color: red;
    }


.record_top{
        height: 1rem;
        background-color: #60646D;
        border-top: 1px solid #F1F1F1;
        border-bottom: 1px solid #F1F1F1;
        p{
            @include register_flex;
            justify-content: flex-start;
            padding-left: 1rem;
            color: #F1F1F1;
            font-size: 0.7rem;
            margin-bottom: 0;
        }
    }









